#virtual environment
.venv/
venv/
env/
files/
#python
__pycache__/
*.py[cod]
.env
*.env
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log
db.sqlite3
*.sqlite3

#nvim
*.swp
*.swo
*.swn

#node
frontend/mymemorabelia/node_modules/
node_modules/

/static_root/
/staticfiles/

#scripts
*script.sh

#ai tools
.claude/
.cursor/
.cursorignore
.cursorrules
.copilot/
.github/copilot-instructions.md
.aider*
.continue/
CLAUDE.md
.gemini/
GEMINI.md
frontend/design/

