services:
  web:
    build: ./backend
    ports:
      - "8000:8000"
    container_name: web
    env_file:
      - ./backend/.env
    depends_on:
      - db
    volumes:
      - ./backend:/app

  db:
    image: postgres:16
    env_file:
      - ./backend/.env

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
